body {
<html>
  
  <body>
  <center>
    <h3> Kate Liang's Website </h3>
    <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Homer_Simpson_2006.png">
  </body>
 
  <style> h3 {
  color: salmon;
}
body {
  background-color: aqua
}
h3 {
  text-decoration-line: underline;
letter-spacing: 1px;
font-family: "Courier New";
text-shadow: 2px 2px violet;
}
img:hover {width: 200px;
border: dotted purple 20px}

}
nav {
  list-style-type: none;
  background-color: #635;
  width: 10%;
  position: fixed; 
  top: 0;
  left: 0;
  padding: 2px;
}
li {display: inline; 
padding: 5px 10px;}
li a{
  text-decoration: none;
  color: white;
  display: block;

}
li a: hover {
  background-color: white;
  color: black;
}
body {
  background-color: aqua
}
h3 {
  text-decoration-line: underline;
letter-spacing: 1px;
font-family: "Courier New";
text-shadow: 2px 2px violet;}
nav {
  list-style-type: none;
  background-color: #635;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  padding: 15px;
}

li a{
  text-decoration: none;
  color: white;
  display: block;
padding: 15px 50px;
}
li a: hover {
  background-color: white;
  color: black;
}
 </html>
